{% extends "/index.html" %}

{% block page_content %}
<div class="container m-4">
    <h1 class="m-4 display-4"> {{tablename|capitalize}} </h1>
   
    <div class="d-flex flex-row-reverse bd-highlight">
        <a class="btn btn-sm btn-success m-2" href="{{table}}/new">Nuevo registro</a>
        <a class="btn btn-sm btn-danger m-2">Eliminar</a>
    </div>
    <div style="position: relative; height: 600px; overflow: auto; display: block;">
        <table class="m-2 table table-bordered table-striped">
            <thead>
                {% for column in columns %}
                <th>{{column}}</th>
                {%endfor%}
                <th>Editar</th>
                <th>Borrar</th>
            </thead>
            <tbody>
            {% for item in items %}
            <tr>
                {% for column in columns %}
                <td>{{item[column]}}</td>
                {%endfor%}
                <td><a class="btn btn-sm btn-warning" href="{{table}}/edit/{{item[columns[0]]}}">Editar</a></td>
                <td><a class="btn btn-sm btn-danger" href="{{table}}/delete/{{item[columns[0]]}}">Eliminar</a></td>

            </tr>
            {%endfor%}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}