{% extends "/index.html" %}

{% block page_content %}
<div class="container m-4">
    <h1 class="m-4 text-center display-4"> Lista de tablas </h1>
    <div class="row">
        <div class="col-sm-6">
            <ul class="text-center mx-4"style="list-style-type: none;">
                <li><a class="btn btn-lg btn-info my-2 btn-block rounded-pill" href="/tablas/municipios">Municipios</a></li>    
                <li><a class="btn btn-lg btn-info my-2 btn-block" href="/tablas/colonias">Colonias</a></li>
                <li><a class="btn btn-lg btn-info my-2 btn-block" href="/tablas/hospitales">Hospitales</a></li>
                <li><a class="btn btn-lg btn-info my-2 btn-block" href="/tablas/ambulancias">Ambulancias</a></li>
                <li><a class="btn btn-lg btn-info my-2 btn-block" href="/tablas/servicios">Servicios</a></li>
            </ul>
        </div>
        
        <div class="col-sm-6">
            <ul class="text-center mx-4" style="list-style-type: none;">
                <li><a class="btn btn-lg btn-info my-2 btn-block" href="/tablas/usuarios">Usuarios</a></li>
            <li><a class="btn btn-lg btn-info my-2 btn-block" href="/tablas/tipo_urgencias">Tipos de urgencia</a></li>
            <li><a class="btn btn-lg btn-info my-2 btn-block" href="/tablas/pacientes">Pacientes</a></li>
            <li><a class="btn btn-lg btn-info my-2 btn-block" href="/tablas/movimientos">Movimientos</a></li>
            <li><a class="btn btn-lg btn-info my-2 btn-block" href="/tablas/bitacora">Bitácora</a></li>
            </ul>
        </div>

    </div>

</div>
{% endblock %}